// Workflow parameters
params {
    absolute_path_to_project = "/home/spriyansh29/Projects/Chernobyl_Network_Nextflow"
    project_name = "Nextflow_Output"
    fastq_dir = "RawSeqDataSub"
    output_dir = "${absolute_path_to_project}/${project_name}"
    qiime2_metadata = "ProcessedData/Qiime2Metadata.tsv"
    raw_fastQC_dir = "Raw_FastQC"

    // Cut Adapt
    filtered_fastq_dir = "FilteredSeqData"
    filter_quality_cutOff = 30
    filter_min_length = 100
    filter_max_length = 300
    filter_trunc_length = -10
    filtered_fastQC_dir = "Filtered_FastQC"

    //Qiime2
    qiime2_main_dir = "Qiime2Data"
    qiime2_QVZ_dir = "${qiime2_main_dir}/Qiime2_QVZ"
    qiime2_QZA_dir = "${qiime2_main_dir}/Qiime2_QZA"
    qiime2_exports_dir = "${qiime2_main_dir}/Qiime2_Exports"
    qiime2_downstream_dir = "${qiime2_main_dir}/Qiime2_Phylogeny"
    trunc_length_f = 230
    trunc_length_r = 200
    beta_div_col_name = "Impact"
    phylogeny_sampling_depth = 10

    //DB paths
    qiime2_silva_trained_classfier = "${absolute_path_to_project}/MicrobialData_DBs/silva-138-99-515-806-classifier.qza"
    qiime2_silva_dna_seq = "${absolute_path_to_project}/MicrobialData_DBs/SILVA_138/silva-138-99-seqs-515-806.qza"
    qiime2_silva_taxa = "${absolute_path_to_project}/MicrobialData_DBs/taxonomy.tsv"

}

// Compute profiles
profiles {
    // Local profile for running on a laptop or local machine
    local {
        process {
            executor = 'local'
            cpus = 8
            memory = '32 GB'
        }
        docker {
            enabled = false
        }
        conda {
            enabled = true
        }
    }
}

// Setting up paths to the Conda environment YAML files for each process
params.fastqc_conda_env = "${params.absolute_path_to_project}/ChernobylNetwork/envs/fastqc_env.yml"
params.multiqc_conda_env = "${params.absolute_path_to_project}/ChernobylNetwork/envs/multiqc_env.yml"
params.cutadapt_conda_env = "${params.absolute_path_to_project}/ChernobylNetwork/envs/cutadapt_env.yml"
params.qiime2_conda_env = "${params.absolute_path_to_project}/ChernobylNetwork/envs/qiime2_env.yml"
params.pandas_numpy_conda_env = "${params.absolute_path_to_project}/ChernobylNetwork/envs/pandas_numpy_env.yml"


// Timeline report for compute time with overwrite enabled
timeline {
    enabled = true
    file = "${params.output_dir}/compute_timeline.html"
    // Path for timeline report
    overwrite = true
}

// Flow report with overwrite enabled
report {
    enabled = true
    file = "${params.output_dir}/flow_report.html"
    // Path for flow report
    overwrite = true
}
