// Workflow params
params {
    fastq_dir = '../RawSeqData'
    seq_metadata = '../ProcessedData/SeqMetadata.tsv'
    outdir = "../Nextflow_Output"
}

// Compute Profiles
profiles {
    // Local profile for running on your laptop
    local {
        process {
            executor = 'local'
            cpus = 2
            memory = '4 GB'
            conda = 'netxflow_py'
        }
        docker {
            enabled = false
        }
        // Enable Conda
        conda {
            enabled = true
        }
    }
}

// Generate Compute Time Report with Overwrite Enabled
timeline {
    enabled = true
    file = "${params.outdir}/compute_timeline.html"
    overwrite = true
}

// Generate Report with Overwrite Enabled
report {
    enabled = true
    file = "${params.outdir}/flow_report.html"
    overwrite = true
}
