// Workflow parameters
params {
    fastq_dir = '../RawSeqDataTest'
    seq_metadata = '../ProcessedData/SeqMetadataTest.tsv'
    out_dir = "/home/spriyansh29/Projects/Chernobyl_Network_Nextflow/Nextflow_Output"
    raw_fastQC_dir = "Raw_FastQC"
    // Directory for raw FastQC output
    filtered_fastq_dir = "Filtered_Reads"
    // Directory for filtered reads output
    filter_cutOff = 20
    // Quality score cutoff for filtering
    filter_min_length = 50
    // Minimum length for filtered reads
    filtered_fastQC_dir = "Filtered_FastQC"
}

// Compute profiles
profiles {
    // Local profile for running on a laptop or local machine
    local {
        process {
            executor = 'local'
            // Execution on local machine
            cpus = 2
            // Number of CPU cores for each process
            memory = '4 GB'
            // Memory allocation for each process
            conda = 'netxflow_py'
        }
        docker {
            enabled = false
        }
        conda {
            enabled = true
        }
    }
}

// Timeline report for compute time with overwrite enabled
timeline {
    enabled = true
    file = "${params.out_dir}/compute_timeline.html"
    // Path for timeline report
    overwrite = true
}

// Flow report with overwrite enabled
report {
    enabled = true
    file = "${params.out_dir}/flow_report.html"
    // Path for flow report
    overwrite = true
}
