// Configure AWS
aws {
    region = 'us-east-1'
    bucket = 's3://chernobyl-soil-memory-optim'
    profile = "admin-priyansh-general-xps"
}

// Workflow parameters
params {
    absolute_path_to_project = "/home/ec2-user"
    s3_data = "${absolute_path_to_project}/s3"
    project_name = "Nextflow_Output_S3"
    output_dir = "${absolute_path_to_project}/${project_name}"

    //Qiime2
    qiime2_main_dir = "Qiime2Data"
    qiime2_QVZ_dir = "${qiime2_main_dir}/Qiime2_QVZ"
    qiime2_QZA_dir = "${qiime2_main_dir}/Qiime2_QZA"
    qiime2_exports_dir = "${qiime2_main_dir}/Qiime2_Exports"
    qiime2_downstream_dir = "${qiime2_main_dir}/Qiime2_Phylogeny"
    beta_div_col_name = "Impact"
    phylogeny_sampling_depth = 10000

    qiime2_silva_trained_classfier = "${s3_data}/MicrobialData_DBs_S3/silva-138-99-515-806-classifier.qza"
    qiime2_silva_dna_seq = "${s3_data}/MicrobialData_DBs_S3/SILVA_138/silva-138-99-seqs-515-806.qza"
    qiime2_silva_taxa = "${s3_data}/MicrobialData_DBs_S3/taxonomy.tsv"

    // S3
    region = aws.region
    bucket = aws.bucket
    profile = aws.profile
}

// Compute profiles
profiles {
    // Local profile for running on a laptop or local machine
    local {
        process {
            executor = 'local'
            cpus = 8
        }
        docker {
            enabled = false
        }
        conda {
            enabled = true
        }
    }
}

// Setting up paths to the Conda environment YAML files for each process
params.qiime2_conda_env = "${params.absolute_path_to_project}/miniconda/envs/qiime2"

// Timeline report for compute time with overwrite enabled
timeline {
    enabled = true
    file = "${params.output_dir}/compute_timeline.html"
    // Path for timeline report
    overwrite = true
}

// Flow report with overwrite enabled
report {
    enabled = true
    file = "${params.output_dir}/flow_report.html"
    // Path for flow report
    overwrite = true
}
